@use "@/styles/base/utils" as *;

.About {
	width: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;

	.Container {
		width: 100%;
		max-width: 1200px;
		align-items: center;
		justify-content: center;
		padding: 80px;

		@include media("sm", "max") {
			padding: 40px;
		}
	}
}
